# CSV

CSV (Comma-Separated Values) é um formato de arquivo de texto simples usado para armazenar dados em forma de tabela, onde:

- Cada linha representa um registro.
- Cada coluna é separada por vírgulas (ou outro delimitador).
- Pode ser aberto por Excel, Google Sheets, pandas, etc.

 Exemplo de conteúdo de um alunos.csv:

nome,idade,curso<br>
Maria,30,Python<br>
João,25,Data Science<br>

O módulo csv permite ler e escrever arquivos CSV facilmente. Ele oferece duas formas principais:

- Usando listas com csv.reader() e csv.writer()
- Usando dicionários com csv.DictReader() e csv.DictWriter()

# Principais métodos do módulo csv

| Método/Função      | Descrição                                           |
| ------------------ | --------------------------------------------------- |
| `csv.reader()`     | Lê linhas de um arquivo CSV como listas             |
| `csv.writer()`     | Escreve listas como linhas em um arquivo CSV        |
| `csv.DictReader()` | Lê o CSV como uma sequência de dicionários (`dict`) |
| `csv.DictWriter()` | Escreve dicionários linha por linha em um CSV       |

Importando o módulo csv

In [1]:
import csv

## 1 - Criando um csv com csv.writer()

In [20]:
dados = [
    ["nome", "idade", "curso"],
    ["Maria", 30, "Python"],
    ["João", 25, "Data Science"],
    ["Ulton", 25, "Python"]

]

# Abrimos o arquivo em modo escrita ('w'), com encoding e newline=''
with open("alunos.csv", "w", newline='', encoding="utf-8") as arquivo:
    
    # Criamos o objeto 'writer', que é um ESCRITOR de arquivos CSV.
    # Ele é responsável por transformar listas em linhas no arquivo CSV.
    escritor = csv.writer(arquivo)
    
    # Escreve todas as linhas da lista 'dados' de uma vez, .writerows é um método do objeto escritor (writer)
    escritor.writerows(dados)

⚠️ Observação sobre uso de newline='':

Sempre use newline='' ao abrir o arquivo com open() para evitar quebras de linha duplicadas, principalmente no Windows.

##  2 - Lendo um CSV com csv.reader()

In [4]:
# Abrimos o arquivo em modo leitura ('r'), com encoding e newline=''
with open("alunos.csv", "r", encoding="utf-8") as arquivo:
    
    # O reader cria um objeto iterável que transforma cada linha do CSV em uma lista.
    leitor = csv.reader(arquivo)
    
    for linha in leitor:
        print(linha)

['nome', 'idade', 'curso']
['Maria', '30', 'Python']
['João', '25', 'Data Science']
['Ulton', '25', 'Python']

##  3 - Lendo como dicionário com csv.DictReader()

In [5]:
# Abrimos o arquivo em modo leitura ('r'), com encoding e newline=''
with open("alunos.csv", "r", encoding="utf-8") as arquivo:
    
    # DictReader transforma cada linha em um dicionário, usando o cabeçalho como chave.
    leitor = csv.DictReader(arquivo)
    
    for linha in leitor:
        print(linha)

{'nome': 'Maria', 'idade': '30', 'curso': 'Python'}
{'nome': 'João', 'idade': '25', 'curso': 'Data Science'}
{'nome': 'Ulton', 'idade': '25', 'curso': 'Python'}

## 4 - Adicionando uma linha ao csv

In [6]:
nova_linha = ['Fernanda', '27', 'Banco de Dados']

# Abrimos o arquivo em modo leitura ('a') que permite adicionar uma nova informação sem substituir/apagar os dados salvos anteriormente, com encoding e newline=''
with open("alunos.csv", "a", newline='', encoding="utf-8") as arquivo:
    escritor = csv.writer(arquivo)
    escritor.writerow(nova_linha)

###  Importante!

Os modos de gravação ('w') e ('a') são diferentes.
- ('w') WRITE - Cria o arquivo se não existir. Se o arquivo existir, ele substitui TODA a informação presente nele pela nova.
- ('a') APPEND - Não cria o arquivo. Apenas adiciona uma nova informação no fim, mantendo as informações anteriores.

# Exemplo Prático

## Cadastro de funcionários

Neste exemplo criaremos o registro de funcionários de uma empresa.

O primeiro passo é criar o arquivo chamado "funcionarios.csv". Vamos utilizar a função open() com o nome que desejamos dar ao arquivo e o modo ('w') que permite criar o arquivo. As informações iniciais que iremos escrever no arquivo serão os nomes das colunas(cabeçalho), e os dados de 5 funcionários já existentes.

In [9]:
import csv

# Lista de listas. A primeira representa o cabeçalho(colunas). Cada uma das outras listas secundárias representam os dados de um funcionário
funcionarios = [
    ["nome", "departamento", "cargo", "salario"],
    ["Ana Silva", "Financeiro", "Analista", 4500.00],
    ["Bruno Reis","Tecnologia", "Desenvolvedor", 6200.00],
    ["Clara Lima","Recursos Humanos", "Coordenadora", 5100.00],
    ["Daniel Souza", "Tecnologia", "Suporte Técnico", 3700.00],
    ["Elaine Costa", "Marketing", "Designer", 4800.00]
]

# Cria o arquivo no modo ('w')
with open('funcionarios.csv', 'w', newline='', encoding='utf-8') as arquivo:
    escritor = csv.writer(arquivo)
    escritor.writerows(funcionarios) # .writerows() escreve no arquivo todas as linhas de uma vez

Lendo as informações do arquivo

In [10]:
# Abre o arquivo no modo leitura ('r')
with open('funcionarios.csv', 'r', encoding='utf-8') as arquivo:
    funcionarios = csv.reader(arquivo)
    for i in funcionarios:
        print(i)

['nome', 'departamento', 'cargo', 'salario']
['Ana Silva', 'Financeiro', 'Analista', '4500.0']
['Bruno Reis', 'Tecnologia', 'Desenvolvedor', '6200.0']
['Clara Lima', 'Recursos Humanos', 'Coordenadora', '5100.0']
['Daniel Souza', 'Tecnologia', 'Suporte Técnico', '3700.0']
['Elaine Costa', 'Marketing', 'Designer', '4800.0']

O próximo passo é pedir ao usuário que informe as informações necessárias para o registro de um novo funcionário. Em seguida organizamos essas informações em uma lista, e utilizando o modo append ('a') junto com a função open(), acrescentamos essa nova linha no final do arquivo. 

NÃO SE ESQUEÇA de utilizar o parâmetro newline='', isso impedirá que o csv acrescente linhas vazias entre cada registro.

In [11]:
nome = input('Nome do funcionário: ')
departamento = input('Departamento: ')
cargo = input('Cargo: ')
salario = input('Salário: ')

with open('funcionarios.csv', 'a', newline='', encoding='utf-8') as arquivo:
    escritor = csv.writer(arquivo)
    escritor.writerow([nome,departamento,cargo,salario])

# Bônus

Com a biblioteca Pandas é possível visualizar o arquivo csv realmente como uma tabela, parecida com excel, além de realizar diversas operações de manipulação e análise de dados. No código abaixo, vemos um exemplo simples de como visualizar o csv de uma maneira melhor.

In [12]:
import pandas as pd
tabela = pd.read_csv('funcionarios.csv')
tabela

           nome      departamento              cargo  salario
0     Ana Silva        Financeiro           Analista   4500.0
1    Bruno Reis        Tecnologia      Desenvolvedor   6200.0
2    Clara Lima  Recursos Humanos       Coordenadora   5100.0
3  Daniel Souza        Tecnologia    Suporte Técnico   3700.0
4  Elaine Costa         Marketing           Designer   4800.0
5         ulton                ti  garoto de progrma  15000.0

In [5]:
import pandas as pd
tabela = pd.read_csv('Tabela_Clubes.csv', encoding= 'utf-8', sep=',')

#tabela.info()
colunas_deletadas = ['Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16']
tabela.drop(axis=1, columns= colunas_deletadas, inplace= True )
display(tabela)

,Ano,Pos.,Clubes,Vitorias,Derrotas,Empates,GolsF/S,Saldo,Qtd_Jogadores,Idade_Media,Estrangeiros,Valor_total,Media_Valor
0,2017,18,America-MG,10,10,18,30:47,-17,51,"24,8",0,27350000,536000
1,2017,7,Athletico-PR,16,9,13,54:37,17,52,24,3,37650000,724000
2,2017,6,Atletico-MG,17,8,13,56:43,13,50,"23,4",6,61350000,1230000
3,2017,11,Bahia,12,12,14,39:41,-2,48,"23,2",2,34900000,727000
4,2017,9,Botafogo,13,12,13,38:46,-8,45,"23,1",4,25550000,568000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2008,18,Santo Andre,11,8,19,46:61,-15,43,"25,1",3,6230000,145000
196,2008,12,Santos,12,13,13,58:58,0,33,"23,9",1,27850000,844000
197,2008,3,Sao Paulo,18,11,9,57:42,15,30,"23,9",1,46650000,1560000
198,2008,20,Sport,7,10,21,48:71,-23,30,25,1,15600000,520000
199,2008,13,Vitoria,13,9,16,51:57,-6,38,"24,1",2,13450000,354000